<div class='nav-pane'>
  <h3>Nav</h3>
  <div class='query-input'>
    <span class='address-input-title'>Address: </span>
    <input class='address-input' ng-model='models.query.address'></input>
    <button ng-click='query(models.query)'>Query</button>
    <a href='#' ng-click='models.query.address =""'>clear</a>
  </div>
  <div class='query-meta-data'>
    <span class='query-latitude'>Latitude: {{ mapModels.options.center.latitude }}</span>
    <span class='query-longitude'>Longitude: {{ mapModels.options.center.longitude }}</span>
  </div>
</div>
